.App {
max-width: 600px;
margin: 0 auto;
font-family: "Thasadith", sans-serif;
font-weight: light;
}

.App .opaque {
  opacity: 0.5;
}
.App .headline {
  font-size: 20px;
  margin-top: 20px;
}
.App footer {
  font-size: 11px;
  margin: 10px 0 0 0;
}
