.Weather {
    max-width: 600px;
    border-radius: 5px;
    padding: 25px;
    transition: background 0.6s ease-in-out;
    color: white;
  }
  
  .spring {
    background: linear-gradient(0deg,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  }
  
  .summer {
    background: linear-gradient(0deg,rgba(87, 199, 133, 1) 0%, rgba(237, 221, 83, 1) 100%);
  }
  
  .autumn {
    background: linear-gradient(0deg,rgba(222, 78, 78, 1) 0%, rgba(255, 235, 82, 1) 100%);
  }
  
  .winter {
    background: linear-gradient(180deg,rgba(100, 100, 189, 1) 0%, rgba(155, 221, 232, 1) 100%);
  }


.Weather h1 {
    margin: 20px 0 0 0;
    font-size: 60px;
}

.Weather ul {
margin: 0;
padding: 0;
}

.Weather li {
    list-style-type: none;
    line-height: 1.2;
}

.Weather img {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.Weather .temperature {
    font-size: 70px;
    line-height: 100px;
    padding: 0;
    display: inline-block;
}
.Weather .unit {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: -32px;
    margin-left: 4px;
    line-height: 1;
}
.float-left {
    float: left;
  }