.Weather {
    border: 1px solid #dddddd;
    border-radius: 5px;
    max-width: 600px;
    padding: 25px;
    margin: auto;
    color: white;
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}


.Weather h1 {
    margin: 20px 0 0 0;
    font-size: 60px;
}

.Weather ul {
margin: 0;
padding: 0;
}

.Weather li {
    list-style-type: none;
    line-height: 1.2;
}

.Weather img {
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

.Weather .temperature {
    font-size: 50px;
    line-height: 70px;
    padding: 0;
    display: inline-block;
}
.Weather .unit {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -26px;
    margin-left: 4px;
    line-height: 1;
}
.float-left {
    float: left;
  }