.Weather {
    min-height: 100vh;
    padding: 20px;
    transition: background 0.6s ease-in-out;
    color: white;
  }
  
  .spring {
    background: linear-gradient(to right, #a8edea, #fed6e3);
  }
  
  .summer {
    background: linear-gradient(to right, #f6d365, #fda085);
  }
  
  .autumn {
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);
  }
  
  .winter {
    background: linear-gradient(to right, #83a4d4, #b6fbff);
  }


.Weather h1 {
    margin: 20px 0 0 0;
    font-size: 60px;
}

.Weather ul {
margin: 0;
padding: 0;
}

.Weather li {
    list-style-type: none;
    line-height: 1.2;
}

.Weather img {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.Weather .temperature {
    font-size: 70px;
    line-height: 100px;
    padding: 0;
    display: inline-block;
}
.Weather .unit {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: -32px;
    margin-left: 4px;
    line-height: 1;
}
.float-left {
    float: left;
  }